*.gradle
*.idea/
/.idea
*.idea
/build/
build/
*/build/
/*/build
/local.properties
.DS_Store
*.class
*.iml
*.out
*.orig
*.apk
*.classpath
*.project
*.settings
*.hg
*.hgtags
*.hgignore
out/*
/*/.idea
library/
library